name: "Docs: Check and Deploy"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: write

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.11.3]
        torch-version: [2.0.1]
        include:
          - torch-version: 2.0.1

    steps:
      - uses: actions/checkout@v3
      - name: Build using Python ${{matrix.python-version}}
        uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.python-version}}
          cache: "pip"
      - name: Install PyTorch
        run: |
          pip install --upgrade pip setuptools wheel
          pip install torch==${{ matrix.torch-version}} --extra-index-url https://download.pytorch.org/whl/cpu
          pip install torch-scatter -f https://data.pyg.org/whl/torch-${{ matrix.torch-version }}+cpu.html
          pip install torch-sparse -f https://data.pyg.org/whl/torch-${{ matrix.torch-version }}+cpu.html
      - name: Install molsets and TopoNetX (before fixes)
        run: |
          pip install rdkit
          pip install Cython
          pip install pomegranate
          pip install git+https://github.com/molecularsets/moses.git
          pip install git+https://github.com/pyt-team/TopoNetX.git@a389bd8bb11c731bb98d79da8392e3396ea9db8c
      - name: Fix moses and TopoNetX
        run: |
          python ./.github/workflows/apply_fixes.py
      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Install sphinx and requirements
        run: |
          pip install sphinx
          pip install -r docs/requirements.txt
      - name: Install Pandoc [apt-get]
        run: |
          sudo apt-get -y install pandoc
      - name: Generate Docs [Sphinx]
        run: |
          sphinx-build -b html -D version=latest -D release=latest docs/source docs/build
